{% extends "::base.html.twig" %}

{% block title %}AppBundle:Station:List{% endblock %}
{%  block headertitle %} List of Stations {% endblock %}

{% block body %}
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Station Name</th>
                <th>UUID</th>
                <th>Location</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
            </thead>
            <tbody>
        {%  for station in stations %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ station.metaData.name }}</td>
                    <td>{{ station.uuid }}</td>
                    <td>{{ station.location }}</td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            edit
                        </button>
                    </td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                            remove
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>


{% endblock %}